{
    "extends": "eslint:recommended",
    "env": {
        "mocha": true,
        "node": true
    },
    "globals": {
        "module": false,
        "require": false
    },
    "parserOptions": {
        "ecmaVersion": 6
      }
}